/******** List events ********/

.tribe-events .tribe-events-calendar-list__event-row {
    margin-bottom: 1.5rem;
}
.tribe-events .tribe-events-calendar-list__event-row:last-child {
    margin-bottom: 0;
}

.tribe-events .tribe-events-calendar-list__month-separator {
    margin: 2rem 1rem;
    padding: 0 2rem 1rem;
    border-bottom: 1px solid #000;
}

.tribe-events .tribe-events-calendar-list__event-info {
    background-color: #f5f5f5;
}
.tribe-events .tribe-events-calendar-list__event-row--featured  .tribe-events-calendar-list__event-info {
    background-color: #ed7101;
}
.tribe-events article.tribe-events-calendar-list__event {
    padding: 24px 18px;
}
.tribe-events .tribe-events-calendar-list__event-row--featured .badge-pill {
    margin-right: 0.6rem;
    font-size: 80%;
    padding: 0.3em 0.6em;
}

.tribe-events .tribe-events-calendar-list__event-title-venue {
    font-size: 80%;
    display: inline-block;
}
.tribe-events .tribe-events-calendar-list__event-header {
    margin: 0.6rem 0;
}
.tribe-events .tribe-events-calendar-list__event-header .tribe-events-calendar-list__event-artist {
    padding-bottom: 0;
    margin-bottom: .3rem;
    font-size: 1.40625rem;
    font-weight: 700;
    letter-spacing: -1.3px;
}
.tribe-events .tribe-events-calendar-list__event-header .tribe-events-calendar-list__event-title {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1.640625rem;
    font-weight: 400;
    letter-spacing: -1.3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tribe-events .tribe-events-calendar-list__event-header .tribe-events-calendar-list__event-title a {
    color: #000;
}

.tribe-events .tribe-events-calendar-list__event-date {
    background-color: #000;
}
.tribe-events .tribe-events-calendar-list__event-date .date-column-1,
.tribe-events .tribe-events-calendar-list__event-date .date-column-2 {
    padding: 24px 12px 12px;
}
.tribe-events .tribe-events-calendar-list__event-date .date-column-1 {
    background-color: #333;
}
.tribe-events .tribe-events-calendar-list__event-date .date-column-2 {
    background-color: #666;
}
.tribe-events .tribe-events-calendar-list__event-date .event-date {
    color: #fff;
    display: block;
}
.tribe-events .tribe-events-calendar-list__event-date .date-label,
.tribe-events .tribe-events-calendar-list__event-date .date-year {
    font-weight: 400;
    font-size: 0.85rem;
}
.tribe-events .tribe-events-calendar-list__event-date .date-day {
    font-weight: 800;
    font-size: 1.85rem;
    letter-spacing: -1.5px;
}
.tribe-events .tribe-events-calendar-list__event-date .date-month {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0.2rem 0 1rem;
}
.tribe-events .tribe-events-calendar-list__event-date .date-time {
    font-weight: 700;
    font-size: 1.25rem;
}
.tribe-events .tribe-events-calendar-list__event-tickets a {
    display: block;
    padding: 12px;
    color: #fff;
    font-weight: 500;
    font-size: 0.85rem;
    text-transform: uppercase;
}

/** Optimize for small screens */
@media (max-width: 767px) {
    /** less padding for the date **/
    .tribe-events .tribe-events-calendar-list__event-date .date-column-1,
    .tribe-events .tribe-events-calendar-list__event-date .date-column-2 {
        padding: 12px 6px 6px;
    }
    .tribe-events .tribe-events-calendar-list__event-date .date-month {
        margin: 0.2rem 0;
    }

    /** Align ticket link to the left  */
    .tribe-events .tribe-events-calendar-list__event-tickets.text-right {
        text-align: left !important;
    }

    /** less padding for the content **/
    .tribe-events article.tribe-events-calendar-list__event {
        padding: 12px;
    }
}

@media (min-width: 768px) {
    .tribe-events .tribe-events-calendar-list__event-date {
        min-height: 191px;
    }
}

/******** single event ********/

.tribe-events-single .event-header {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3rem;
}

.tribe-events-single .event-header .event-header-left {
    background-color: #333;
    color: #fff;
    padding: 2.5rem;
}
.tribe-events-single .event-header .event-header-left .tribe-events-event-image {
    margin: 0;
}
.tribe-events-single .event-header .event-header-right {
    background-color: #666;
    color: #fff;
    padding: 2.5rem;
}
.tribe-events-single .event-header .artist-name {
    font-weight: 400;
    font-size: 1.41rem;
    letter-spacing: -1.3px;
}
.tribe-events-single .event-header .event-title {
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: -1.5px;
}
.tribe-events-single .event-header .tribe-events-schedule {
    margin: 2rem 0 0;
    font-size: 1.171875rem;
    letter-spacing: -0.5px;
    font-weight: 400;
}
.tribe-events-single .event-header .tribe-events-schedule .venue {
    margin-left: 1rem;
}

.single-tribe_events .tribe-events-single .tribe-events-single-event-description {
    margin-bottom: 0;
}
.single-tribe_events .tribe-events-single  .tribe-events-event-meta {
    border-top: 0;
    margin: 0;
}
.single-tribe_events .tribe-events-single  .tribe-events-event-meta .tribe-events-meta-group {
    background-color: #ccc;
    padding: 2rem;
}
.single-tribe_events .tribe-events-single  .tribe-events-event-meta .tribe-events-meta-group .tribe-events-single-section-title {
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -2rem;
    background-color: #ed7101;
    font-weight: 400;
    font-size: 1.171875rem;
    letter-spacing: -0.75px;
    padding: 0.8rem 1.5rem;
    text-transform: uppercase;
}
.single-tribe_events .tribe-events-single  .tribe-events-event-meta .tribe-events-meta-group-details {
    margin-bottom: 3rem;
}
.single-tribe_events .tribe-events-single  .tribe-events-event-meta .tribe-events-meta-group-gmap {
    padding-top: 0;
}


/******** filter bar ********/

.tribe-events .tribe-events-header.tribe-events-header--has-event-search {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tribe-events .tribe-events-header.tribe-events-header--has-event-search .tribe-events-header__events-bar,
.tribe-events .tribe-filter-bar.tribe-filter-bar--horizontal {
    display: block;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-header.tribe-events-header--has-event-search .tribe-events-header__events-bar,
.tribe-common--breakpoint-medium.tribe-events .tribe-filter-bar.tribe-filter-bar--horizontal {
    display: inline-block;
    width: auto !important;
}

.tribe-events .tribe-events-header .btn-pill,
.tribe-events .tribe-events-calendar-list-nav .btn-pill {
    padding: 0.375rem 1rem;
    border: 1px solid #000;
}
.tribe-events .tribe-events-header .btn-pill {
    font-size: 0.8rem;
}

.tribe-events .tribe-events-header .btn-pill.btn-with-selections {
    padding-right: 2.2rem;
}
.tribe-filter-bar .tribe-filter-bar-c-filter--pill .tribe-filter-bar-c-filter__container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 0;
}
.tribe-common--breakpoint-medium .tribe-filter-bar .tribe-filter-bar-c-filter--pill .tribe-filter-bar-c-filter__container {
    border: 1px solid #888;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
}
.tribe-filter-bar .tribe-filter-bar-c-filter--pill .tribe-filter-bar-c-filter__filters-legend {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 400;
}
.tribe-filter-bar .tribe-filter-bar-c-dropdown .select2-results__option {
    padding: 3px 6px;
    color: #333;
    font-size: 0.8rem;
}
.tribe-filter-bar .tribe-filter-bar-c-dropdown .select2-results__option--highlighted[data-selected] {
    background-color: #ccc;
    color: #000;
}
.tribe-events .tribe-events-header .tribe-filter-bar-c-clear-button,
.tribe-common--breakpoint-medium .tribe-filter-bar .tribe-filter-bar-c-filter--pill .tribe-filter-bar-c-filter__filters-close {
    color: #666;
    border-color: #888;
}
.tribe-common--breakpoint-medium .tribe-filter-bar .tribe-filter-bar-c-filter--pill .tribe-filter-bar-c-filter__filters-close {
    width: 22px;
    height: 22px;
}
.tribe-filter-bar .tribe-filter-bar__selected-filters-header {
    padding: 0 0 6px;
}
.tribe-filter-bar .tribe-filter-bar-c-dropdown .select2-search__field {
    height: 30px;
    padding: 0 6px;
    font-size: 0.8rem;
}

.tribe-events-header__events-bar .tribe-events-c-top-bar__datepicker button {
    width: 100%;
}
.tribe-events .tribe-events-header .tribe-filter-bar-c-filter__toggle-wrapper,
.tribe-events .tribe-events-header .tribe-events-c-top-bar__datepicker {
    margin-top: 1px;
}
.tribe-events .tribe-events-header .tribe-events-c-top-bar__datepicker {
    height: 33px;
}
.tribe-events .tribe-events-header .tribe-events-c-top-bar__datepicker-container > .datepicker {
    /** wrestle against the position done via JS */
    left: 0 !important;
    top: 0 !important;
}
.tribe-events .tribe-events-calendar-list-nav {
    margin-left: -20px;
    margin-right: -20px;
}
.tribe-common--breakpoint-full.tribe-events .tribe-events-c-top-bar__datepicker-desktop {
    display: inline-block !important; /** skeleton sets to block !important, messes with line breaks in datepicker button  **/
}

/******** utility classes ********/

.tribe-common--breakpoint-medium.tribe-common .tribe-common-l-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 40px;
    min-height: 1px;
}

.tribe-common .tribe-events-view-loader {
    align-items:flex-start;
    justify-content:center;
    display:flex;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:100;
    background-color:hsla(0,0%,100%,.6)
}
.tribe-common .tribe-common-c-loader {
    display:flex;
    padding-top:192px
}
.tribe-common--breakpoint-medium.tribe-common .tribe-common-c-loader {
    padding-top:288px
}
.tribe-common .tribe-common-c-loader__dot {
    background-color:rgba(0, 0, 0, .2);
    height:15px;
    width:15px;
    border-radius:50%
}
.tribe-common .tribe-common-c-loader__dot:not(:first-of-type) {
    margin-left:8px
}

.tribe-common .tribe-events-c-small-cta .btn {
    font-size: 0.85rem;
    border: 1px solid transparent;
    padding: 0.375rem 1rem;
}
.tribe-common .tribe-events-c-small-cta .btn-pill {
    border: 1px solid #000;
}

.tribe-common .tribe-common-a11y-hidden {
    display:none!important;
    visibility:hidden
}
.tribe-common .tribe-common-a11y-visual-hide,
.tribe-common .tribe-common-a11y-visual-show {
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px
}